.title {
    text-align: center;
}

.main {
    border: 1px solid black;
    width: 50%;
    margin: auto;
}

#add-item {
    border: 1px solid black;
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.label {
    margin: 10px;
}

#todo-list{
    flex-direction: column;
    display: flex;
}
#todo-list div {
    margin-bottom: 10px;
    text-align: left;
}
#ltodo-ist > li{
    list-style-type: none;
    margin: 10px auto;
}
ul {
    list-style-type: none;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: flex-end;
    flex-direction: column;
    margin-right: 40px;
}
input{
    margin: 20px;
}
.completed {
    text-decoration: line-through;
  }
  button{
    margin: 20px;
  }
li input,
li textarea {
    display: flex;
    flex-direction: column;
}