html, body {
    margin: 10px;
    padding: 1;
    font-family: sans-serif;
}

/* TASK1
#grid-container {
    
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    
}

   

#box1 {
    background-color: red; 
    grid-column: 1/3;
    border-radius: 25px;

}

#box2 {
    background-color: blue;   
    grid-column: 3/5;
    border-radius: 25px;
}

#box3 {
    background-color: green;  
    grid-column: 1;
    border-radius: 25px;
    
}

#box4 {
    background-color:purple;    
    grid-column: 2/5;
    border-radius: 25px;
}

#box5 {
    background-color: yellow; 
    grid-column: 1/5;   
    border-radius: 25px;
} */


/* TASK 2 */

/* #grid-container {
    
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 150px 150px 150px;
    
}

   

#box1 {
    background-color: red; 
    grid-column: 1/5;

    border-radius: 25px;

}

#box2 {
    background-color: blue;   
    grid-column: 1/3;
    border-radius: 25px;
    grid-row: 2/4;
}

#box3 {
    background-color: green;  
    grid-column: 1;
    border-radius: 25px;
    grid-column: 3/5 ;
    
}

#box4 {
    background-color:purple;    
    grid-column: 3/4;
    border-radius: 25px;

}

#box5 {
    background-color: purple; 
    grid-column: 4/5;   
    border-radius: 25px;
} */

/* Iphone */
@media only screen and (max-width: 767px){
        #grid-container > div {
            padding: 10px;
        }

    #grid-container {
         justify-content: center;
         align-items: center;
         font-size: 20px;
         color: #ffffff;
    
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(4, 1ftpx);
        
        
    }
    #box1 {
        background-color: rgb(212, 200, 200); 
        grid-column: 1/5;
        border-radius: 25px;
        
    
    }
    
    #box2 {
        background-color: rgb(136, 136, 137);
        border-radius: 25px;
        grid-column: 1/5;
        grid-row: 2; 
      }
      
    
    #box3 {
        background-color: rgb(99, 104, 99);  
        border-radius: 25px;
        grid-column: 1/5 ;
        grid-row: 3;
        
        
    } 
    
    #box4 {
        background-color:rgb(195, 192, 195);    
        grid-column: 1/5;
        border-radius: 25px;
        grid-row: 4;
    
    }
    
    #box5 {
        background-color: rgb(131, 129, 131); 
        grid-column: 1/5;   
        border-radius: 25px;
        grid-row: 5;
    }
    
}
/* IPad */
@media only screen and (min-width: 768px){
        #grid-container > div {
            padding: 10px;
        }

    #grid-container {
         justify-content: center;
         font-size: 20px;
         color: #ffffff;
    
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 10px;
        
        
    }
    #box1 {
        background-color: rgb(212, 200, 200); 
        grid-column: 1/6;
        border-radius: 25px;
        
    
    }
    
    #box2 {
        background-color: rgb(136, 136, 137);
        border-radius: 25px;
        grid-column: 1/2;
        grid-row: 2;
        
      }
      
    
    #box3 {
        background-color: rgb(99, 104, 99);  
        border-radius: 25px;
        grid-column: 2/5 ;
        grid-row: 2;
        
        
    } 
    
    #box4 {
        background-color:rgb(195, 192, 195);    
        grid-column: 1/5;
        border-radius: 25px;
        grid-row: 3;
    
    }
    
    #box5 {
        background-color: rgb(131, 129, 131); 
        grid-column: 1/5;   
        border-radius: 25px;
        grid-row: 4;
    }
    
}
/* LapTop */
@media only screen and (min-width: 1024px){
    #grid-container > div {
        padding: 10px;
    }

#grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 10px;
        justify-content: center;
        font-size: 20px;
        color: #ffffff;
}
#box1 {
    background-color: rgb(212, 200, 200); 
    grid-column: 1/6;
    border-radius: 25px;
    

}

#box2 {
    background-color: rgb(136, 136, 137);
    border-radius: 25px;
    grid-column: 1/2;
    grid-row: 2;
    
  }
  

#box3 {
    background-color: rgb(99, 104, 99);  
    border-radius: 25px;
    grid-column: 2/5 ;
    grid-row: 2;
    
    
} 

#box4 {
    background-color:rgb(195, 192, 195);    
    grid-column: 5/6;
    border-radius: 25px;
    grid-row: 2;

}

#box5 {
    background-color: rgb(131, 129, 131); 
    grid-column: 1/6;   
    border-radius: 25px;
    grid-row: 4;
}

}



/* #box6 {
    background-color: grey;    
}

#box7 {
    background-color: teal;    
}

#box8 {
    background-color: violet;   
}

#box9 {
    background-color: orange; 
    */


/* #grid-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(4, 100px);
} */



/* Styling for the 12 divs */
/* #grid-container > div {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
}

#grid-container > div:nth-child(even){
    background-color: dodgerblue;
}

#grid-container > div:nth-child(odd){
    background-color: firebrick;
} */